canvas {
  height: 400px;
  width: 100%;
}

.chartMain {
  margin: auto;
}

.empty-trans {
  text-align: center;
  margin-top: 2rem;
}

.empty-trans img {
  width: 400px;
}

@media (max-width: 768px) {
  .empty-trans img {
    width: 100%;
    height: 300px;
  }
}
