.expenseMain {
  display: grid;
  grid-template-columns: 250px 1fr;
  max-width: 1200px;
  margin: auto;
  margin-top: 5rem;
  gap: 2rem;
  padding: 0 1rem;
}

.eContent {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 1rem;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.eContent header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eUser h4 {
  text-transform: capitalize;
}

.eContent header span {
  font-weight: 600;
  font-size: 0.9rem;
}
/* ///SideBar///////////////////// */

.eSidetitle {
  padding: 8px;
  background-color: blueviolet;
  color: white;
  margin-bottom: 1rem;
}

.sideProfile {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 40px 1fr;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 0.5rem;
}

.sideProfile img {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}

.sideProfile:hover {
  background-color: whitesmoke;
}

.subTracker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.eForm {
  margin-top: 2rem;
}

.eForm header {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
}

.eForm span {
  padding-bottom: 0.5rem;
  cursor: pointer;
  color: rgb(47, 47, 47);
}

.eForm span:hover {
  color: blueviolet;
}

.eOpBorder {
  border-bottom: 3px solid blueviolet;
}

.eOpBorderN {
  border-bottom: 3px solid transparent;
}

.incomeForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.incomeForm fieldset {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.incomeForm input {
  width: 100%;
  padding: 8px;
  outline: none;
  font-size: 1rem;
}

.incomeForm label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.incomeForm button {
  color: white;
  padding: 9px;
  background-color: blueviolet;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.incomeForm button:hover {
  background-color: rgb(134, 17, 244);
}

.incomeForm select {
  outline: none;
  font-size: 1rem;
  text-transform: capitalize;
}

.incomeForm option {
  text-transform: capitalize;
}

@media (max-width: 920px) {
  .expenseMain {
    grid-template-columns: 180px 1fr;
    max-width: 100%;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .expenseMain {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .expenseMainActive {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: white;
    height: 100%;
    width: 50%;
  }

  .eSideMain {
    display: none;
  }

  .eContent {
    border-radius: 10px;
  }
}

@media (max-width: 660px) {
  .subTracker {
    grid-template-columns: 1fr;
  }

  .eContentHeader {
    flex-direction: column;
    gap: 0.2rem;
  }

  .expenseMainActive {
    width: 70%;
  }
}
