@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(46, 46, 46);
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

html::-webkit-scrollbar {
  width: 0;
  display: none;
}
